.App-link {
  color: #61dafb;
}

.App_title{
  font-family: 'Montserrat', sans-serif;
}

.container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.search {
  width: 50%;
  padding: 10px 5px;
  font-size: medium;
  color: rgb(31, 37, 43);
  background: #EEEEEE ;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-weight: bold;
  box-shadow: 0px 4px 8px #282c34;
}

.autocomplete {
  width: 50%;
  height: 10em;
  overflow-y: scroll;
  background: #EEEEEE ;
  box-shadow: 0px 4px 8px #282c34;
}
.autocompleteItems {
  border-bottom: 1px solid #EEEEEE;
  padding: 10px 5px;
  cursor: pointer;
  color: rgb(3, 0, 43);
  font-weight: bold;
  vertical-align: middle;
}
.autoItemsName {
  justify-content: center;
  font-size: large;
}
.btn {
  padding: 10px 20px;
  border: none;
  background-color: #00ADB5;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px #282c34;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0px 4px 8px #282c34;
}
.App-header {
  background-color: #EEEEEE;
  font-family: 'Montserrat', sans-serif;

  /* ff9292 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #222831;
  text-shadow: 0px 4px 8px  #fbf5e7;
}
.Thumbnail {
  height: 50px;
  width: 50px;
  padding-right: 35px;
  padding-left: 5px;
}
.track_container{
  width: 70%;
  margin-top: 10px;
  background-color: #a8b6b6;
  max-height: 75vh;
  min-height: 75vh;
  overflow-y: scroll;
  

}
.track{
  justify-content: center;
  border-bottom: 1px solid#EEEEEE;
  padding: 10px 10px;
  padding-left: 30px;
  text-shadow: none;
  font-family: 'Montserrat', sans-serif;
  font-size:large;
}
.track:hover{
  cursor: pointer;
  box-shadow:  2px 2px 4px #282c34;
  
}
.album_name{
  color: #393E46;
  padding-bottom: 3px;
  border-bottom: 1px solid #393E46;
  width:30%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.title{
  color: #393E46;
  padding: 10px ;
  margin-left: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #393E46;
  width: 95%;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
.artist_info{

  text-align: center;
}
.artist_img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  margin: 10px 10px 10px ;
  border-radius: 50%;
  padding: 5px;
}
.artist_name{
  width: 100%;
  vertical-align: middle;
}
